*{
    margin:0;
}
/* Apply Header Section Styles */
.top-header{
    background-color:gray;
    background-image:url(../images/banner/banner1.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 800px;
}
.title-div{
    display: flex;
    justify-content:right;
    text-align: right;
    padding-right:230px;
    padding-top:216px;
}
.title-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: right;
    width:525px;
    height:228px;
}
.header-text-div{
    display: flex;
    justify-content: right;
    padding-right:230px;
    padding-top:20px;
}
.header-text{
    text-align: right;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width:500px;
    height:78px;
    color:#444343;
}
.header-btn-div{
    display: flex;
    justify-content: right;
    padding-right:230px;
}
.header-btn{
    width: 160px;
    height: 64px;
    background-color: #F15B22; 
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color:white;
    border-color: lightcoral;
}
/* Apply Main Section Styles */
.main-section01{
    padding-top:940px;
    padding-left:206px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.person-img{
    padding-left:30px;
}
.main-section-text-div{
    padding-left:85px;
}
.main-text-h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    width:288px;
    height:94px;
    text-align: left;
    padding-top:50px;
}
.main-text-p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 416px;
    height: 104px;
    padding-right: 310px;
    padding-top:10px;
    color: #444343;
}
.main-list-ul{
    list-style:none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.main-list-ul li{
    padding-left:1em;
}
.main-list-ul li::marker{
    content: '\2714\0020';
    color: green;
}
/* Main Part Section 2 */
.main-section02{
    align-items: center;
    padding:0px 230px;
}
.section2-title-text-h2{
    text-align: center;
    padding-top:130px;
    padding-left:100px;
}
.main-section02-div > ul{
    display: flex;
    justify-content: space-around;
    list-style-type:none;
    text-align: center;
    align-items: center;
}
.sec2-ul{
    padding-top:50px;
}
.sec2-sub-ul{
    list-style-type:none;
    padding:10px 10px;
    color: #737272;

}
.sec2-sub-li{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size:20px;
    color: #151414;
}
/* Main Section part3 */
.sec3-div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top:130px;
    padding-left:230px;
    font-family: 'Work Sans';
    font-style: normal;
}
.sec3-img{
    border-radius: 8px;
    position: relative;
}
.sec3-h3{
    position: absolute;
    padding-top:10px;
    padding-left:64px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 459px;
    height: 94px;
}
.sec3-btn{
    position:absolute;
    margin-top:177px;
    margin-left: 64px;
    width:160px;
    height: 60px;
    border-radius: 5px;
    border-color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #F15B22;
}

/* Apply Styles on bottom footer section */
.bottom-footer{
    display: flex;
    justify-content: space-around;
    background-color: #151414;
    height:577px;
    width: 1600px;
    margin-top: 130px;
    font-family: 'Work Sans';
    font-style: normal;
}
.footer-div1{
    padding-top:130px;
}
.footer-div2{
    padding-top: 130px;
}
/* Footer Future Section */
.footer-h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}
.footer-p1{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 485px;
    height: 78px;
    padding-top:20px;
    padding-bottom: 20px;
}
.footer-p2,.footer-p3{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding:5px 0px;
}
.footer-ul{
    display: flex;
    justify-content:left;
    list-style-type: none;
    padding-top:20px;
    padding-left:0px;
}
.footer-ul > li{
    padding:0px 10px;
}
/* Footer Subscription Section */
.footer-subs-h3{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.footer-input-email{
    width: 325px;
    height: 64px
}
.footer-subs-btn{
    margin-top:20px;
    width:170px;
    height: 60px;
    border-radius: 5px;
    border-color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #F15B22;
}
